NET "din1" LOC = C4;
NET "din2" LOC = T12;
NET "din_w" LOC = T5;
NET "dout1" LOC = T11;
NET "dout2" LOC = V12;
NET "clk" LOC = V10;
NET "din1" IOSTANDARD = LVCMOS33;
NET "din2" IOSTANDARD = LVCMOS33;
NET "din_w" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "dout1" IOSTANDARD = LVCMOS33;
NET "dout1" DRIVE = 12;
NET "dout1" SLEW = SLOW;
NET "dout2" IOSTANDARD = LVCMOS33;
NET "dout2" DRIVE = 12;
NET "dout2" SLEW = SLOW;
